   <!-- Product section-->
@model RelatedProductsViewModel


<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="@Model.Product.Image" alt="product-img" /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                <div class="fs-5 mb-5">
                    <span>₦@Model.Product.StrPrice</span>
                </div>
                <p class="lead">@Model.Product.Description</p>
                <form class="form-group" method="post" asp-controller="ShoppingCart" asp-action="AddItemToCartWithQuantity"
                      asp-route-id="@Model.Product.Id">
                    <div class="d-flex">
                        <input class="form-control text-center me-3 px-2" name="itemQuantity" type="number" value="1" min="1" style="width: 3.5rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" >
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach(ProductsViewModel product in Model.RelatedProducts)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="@product.Image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@product.Name</h5>
                                <!-- Product price-->
                                <span>₦@product.StrPrice</span>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex align-items-center justify-content-center">
                            <a class="text-center d-flex justify-content-center align-items-center btn-custom"
                               asp-controller="ShoppingCart" asp-action="AddItemToCart" asp-route-id="@product.Id">


                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                            <a class="text-center d-flex justify-content-center align-items-center btn-custom ms-2" style="text-decoration:none"
                               asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id">


                                <i class="fa-regular fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
            
           
        </div>
    </div>
</section>
